<div class="wrapper-m-modal is-hidden is-open" data-modal-mob="">
  <div class="modal-container-mob container">
    <div class="modal-head-wrapp">
      <a href="../index.html" class="link header-logo-link">
        <img
          src="./public/logo-mob.png"
          class="header-img-logo"
          alt="logo of the firm"
        />
        thewatchspot
      </a>

      <button
        type="submit"
        class="header-close-modal js-close-menu"
        data-modal-close-mob
      >
        <svg class="header-close-svg">
          <use href="./public/sprite.svg#close"></use>
        </svg>
      </button>
    </div>

    <ul class="header-link-modal">
      <li><a href="#about-us" class="site-link-modal">About us</a></li>
      <li><a href="#catalog" class="site-link-modal">Catalog</a></li>
      <li><a href="#sale" class="site-link-modal">Sale</a></li>
    </ul>
  </div>
</div>
