<div class="wrapper-m-modal">
  <div class="container modal-container">
    <a href="../index.html" class="link header-logo-modal">
      <span>
        <svg class="svg-modal" width="14" height="14">
          <use href="/sprite.svg#logo-tabl"></use>
        </svg>
      </span>
      thewatchspot
    </a>

    <button class="header-close-modal">
      <svg class="header-close-svg" height="24" width="24" >
        <use href="../public/sprite.svg#close"></use>
      </svg>
    </button>

    <ul class="header-link-modal">
      <li><a href="" class="site-link">About us</a></li>
      <li><a href="" class="site-link">Catalog</a></li>
      <li><a href="" class="site-link">Sale</a></li>
    </ul>
  </div>
</div>
