<section>
  <div class="catalog container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-wrap-img">
          <picture class="catalog-img">
            <source srcset="../img/catalog/img-desc/image.jpg 1x, ../img/catalog/img-desc/image-x2.jpg 2x" media="(min-width: 1280px)">
            <source srcset="../img/catalog/img-tab/image.jpg 1x, ../img/catalog/img-tab/image-x2.jpg 2x" media="(min-width: 768px)">
            <source srcset="../img/catalog/img-mob/image.jpg 1x, ../img/catalog/img-mob/image-x2.jpg 2x" media="(min-width: 375px)" >
            <img src="../img/catalog/img-mob/image.jpg" alt="Tube Watch S42 Date Steel With Black Case"  width="276" height="325">
          </picture>
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
            <h3 class="catalog-popup-title">DETAILS & FEATUREStion</h3>
            <p class="catalog-popup-text">Gender: man<br>
              Size: 46x54.5mm<br>
              Case Colour: Steel<br>
              Band Material: Metal<br>
              Case Material: Metal<br>
              Features: Multifunction<br>
              Water Resistant: 5 (ATM)<br>
              Band Colour: Steel</p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Tube Watch S42 Date Steel With Black Case</p>
          <span class="catalog-price">€395</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-wrap-img">
          <picture class="catalog-img">
            <source media="(min-width: 375px)" srcset="../img/catalog/img-mob/image(1).jpg 1x, ../image/img-mob/image-x2(1).jpg 2x">
            <source media="(min-width: 768px)" srcset="../img/catalog/img-tab/image(1).jpg 1x, ../img/catalog/img-tab/image-x2(1).jpg 2x">
            <source media="(min-width: 1280px)" srcset="../img/catalog/img-desc/image(1).jpg 1x, ../img/catalog/img-desc/image-x2(1).jpg 2x">
            <img src="../img/catalog/img-mob/image(1).jpg" alt="Avondale Watch Police For Men" width="276" height="325">
          </picture>
          <div class="catalog-popup">
            <div>
              <h3 class="catalog-popup-title">Description</h3>
              <p class="catalog-popup-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
            </div>
            <div>
              <h3 class="catalog-popup-title">DETAILS & FEATUREStion</h3>
              <p class="catalog-popup-text">Gender: man<br>
                Size: 46x54.5mm<br>
                Case Colour: Steel<br>
                Band Material: Metal<br>
                Case Material: Metal<br>
                Features: Multifunction<br>
                Water Resistant: 5 (ATM)<br>
                Band Colour: Steel</p>
            </div>
            
            
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Avondale Watch Police For Men</p>
          <span class="catalog-price">€800</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-wrap-img">
          <picture class="catalog-img">
            <source media="(min-width: 375px)" srcset="../img/catalog/img-mob/image(2).jpg 1x, ../img/catalog/img-mob/image-x2(2).jpg 2x">
            <source media="(min-width: 768px)" srcset="../img/catalog/img-tab/image(2).jpg 1x, ../img/catalog/img-tab/image-x2(2).jpg 2x">
            <source media="(min-width: 1280px)" srcset="../img/catalog/img-desc/image(2).jpg 1x, ../img/catalog/img-desc/image-x2(2).jpg 2x">
            <img src="../img/catalog/img-mob/image(2).jpg" alt="Diver  300M Co‑Axial Master Chronometer Chronograph" width="276" height="325">
          </picture>
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
            <h3 class="catalog-popup-title">DETAILS & FEATUREStion</h3>
            <p class="catalog-popup-text">Gender: man<br>
              Size: 46x54.5mm<br>
              Case Colour: Steel<br>
              Band Material: Metal<br>
              Case Material: Metal<br>
              Features: Multifunction<br>
              Water Resistant: 5 (ATM)<br>
              Band Colour: Steel</p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Diver  300M Co‑Axial Master Chronometer Chronograph</p>
          <span class="catalog-price">€600</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-wrap-img">
          <picture class="catalog-img">
            <source media="(min-width: 375px)" srcset="../img/catalog/img-mob/image(3).jpg 1x, ../img/catalog/img-mob/image-x2(3).jpg 2x">
            <source media="(min-width: 768px)" srcset="../img/catalog/img-tab/image(3).jpg 1x, ../img/catalog/img-tab/image-x2(3).jpg 2x">
            <source media="(min-width: 1280px)" srcset="../img/catalog/img-desc/image(3).jpg 1x, ../img/catalog/img-desc/image-x2(3).jpg 2x">
            <img src="./image/img-mob/image(3).jpg" alt="Diver 300M Co-Axial Master Chronometer" width="276" height="325">
          </picture>
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
            <h3 class="catalog-popup-title">DETAILS & FEATUREStion</h3>
            <p class="catalog-popup-text">Gender: man<br>
              Size: 46x54.5mm<br>
              Case Colour: Steel<br>
              Band Material: Metal<br>
              Case Material: Metal<br>
              Features: Multifunction<br>
              Water Resistant: 5 (ATM)<br>
              Band Colour: Steel</p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Diver 300M Co-Axial Master Chronometer</p>
          <span class="catalog-price">€1400</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-wrap-img">
          <picture class="catalog-img">
            <source media="(min-width: 375px)" srcset="../img/catalog/img-mob/image(4).jpg 1x, ../img/catalog/img-mob/image-x2(4).jpg 2x">
            <source media="(min-width: 768px)" srcset="../img/catalog/img-tab/image(4).jpg 1x, ../img/catalog/img-tab/image-x2(4).jpg 2x">
            <source media="(min-width: 1280px)" srcset="../img/catalog/img-desc/image(4).jpg 1x, ../img/catalog/img-desc/image-x2(4).jpg 2x">
            <img src="../img/catalog/img-mob/image(4).jpg" alt="Taman Watch By Police For Men" width="276" height="325">
          </picture>
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
            <h3 class="catalog-popup-title">DETAILS & FEATUREStion</h3>
            <p class="catalog-popup-text">Gender: man<br>
              Size: 46x54.5mm<br>
              Case Colour: Steel<br>
              Band Material: Metal<br>
              Case Material: Metal<br>
              Features: Multifunction<br>
              Water Resistant: 5 (ATM)<br>
              Band Colour: Steel</p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Taman Watch By Police For Men</p>
          <span class="catalog-price">€500</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-wrap-img">
          <picture class="catalog-img">
            <source media="(min-width: 375px)" srcset="../img/catalog/img-mob/image(5).jpg 1x, ../img/catalog/img-mob/image-x2(5).jpg 2x">
            <source media="(min-width: 768px)" srcset="../img/catalog/img-tab/image(5).jpg 1x, ../img/catalog/img-tab/image-x2(5).jpg 2x">
            <source media="(min-width: 1280px)" srcset="../img/catalog/img-desc/image(5).jpg 1x, ../img/catalog/img-desc/image-x2(5).jpg 2x">
            <img src="../img/catalog/img-mob/image(5).jpg" alt="Malawi Watch Police For Men" width="276" height="325">
          </picture>
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
              <h3 class="catalog-popup-title">DETAILS & FEATUREStion</h3>
              <p class="catalog-popup-text">Gender: man<br>
                Size: 46x54.5mm<br>
                Case Colour: Steel<br>
                Band Material: Metal<br>
                Case Material: Metal<br>
                Features: Multifunction<br>
                Water Resistant: 5 (ATM)<br>
                Band Colour: Steel</p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Malawi Watch Police For Men</p>
          <span class="catalog-price">€555</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-wrap-img">
          <picture class="catalog-img">
            <source media="(min-width: 375px)" srcset="../img/catalog/img-mob/image(6).jpg 1x, ../img/catalog/img-mob/image-x2(6).jpg 2x">
            <source media="(min-width: 768px)" srcset="../img/catalog/img-tab/image(6).jpg 1x, ../img/catalog/img-tab/image-x2(6).jpg 2x">
            <source media="(min-width: 1280px)" srcset="../img/catalog/img-desc/image(6).jpg 1x, ../img/catalog/img-desc/image-x2(6).jpg 2x">
            <img src="../img/catalog/img-mob/image(6).jpg" alt="Diver 300M Co-Axial Master Chronometer" width="276" height="325">
          </picture>
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
              <h3 class="catalog-popup-title">DETAILS & FEATUREStion</h3>
              <p class="catalog-popup-text">Gender: man<br>
                Size: 46x54.5mm<br>
                Case Colour: Steel<br>
                Band Material: Metal<br>
                Case Material: Metal<br>
                Features: Multifunction<br>
                Water Resistant: 5 (ATM)<br>
                Band Colour: Steel</p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Diver 300M Co-Axial Master Chronometer</p>
          <span class="catalog-price">€1200</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-wrap-img">
          <picture class="catalog-img">
            <source media="(min-width: 375px)" srcset="../img/catalog/img-mob/image(7).jpg 1x, ../img/catalog/img-mob/image-x2(7).jpg 2x">
            <source media="(min-width: 768px)" srcset="../img/catalog/img-tab/image(7).jpg 1x, ../img/catalog/img-tab/image-x2(7).jpg 2x">
            <source media="(min-width: 1280px)" srcset="../img/catalog/img-desc/image(7).jpg 1x, ../img/catalog/img-desc/image-x2(7).jpg 2x">
            <img src="../img/catalog/img-mob/image(7).jpg" alt="Greenlane Watch By Police For Men" width="276" height="325">
          </picture>
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
            <h3 class="catalog-popup-title">DETAILS & FEATUREStion</h3>
            <p class="catalog-popup-text">Gender: man<br>
              Size: 46x54.5mm<br>
              Case Colour: Steel<br>
              Band Material: Metal<br>
              Case Material: Metal<br>
              Features: Multifunction<br>
              Water Resistant: 5 (ATM)<br>
              Band Colour: Steel</p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Greenlane Watch By Police For Men</p>
          <span class="catalog-price">€1000</span>
        </div>
      </li>
      <li class="catalog-item catalog-img-desc">
        <div class="catalog-wrap-img">
          <img src="../img/catalog/img-desc/image(8).jpg" srcset="../img/catalog/img-desc/image-x2(8).jpg 2x" alt="Squardrc 5402 Chrono" width="276" height="325">
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
            <h3 class="catalog-popup-title">DETAILS & FEATUREStion</h3>
            <p class="catalog-popup-text">Gender: man<br>
              Size: 46x54.5mm<br>
              Case Colour: Steel<br>
              Band Material: Metal<br>
              Case Material: Metal<br>
              Features: Multifunction<br>
              Water Resistant: 5 (ATM)<br>
              Band Colour: Steel</p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Squardrc 5402 Chrono</p>
          <span class="catalog-price">€359</span>
        </div>
      </li>
      <li class="catalog-item catalog-img-desc">
        <div class="catalog-wrap-img">
          <img src="../img/catalog/img-desc/image(9).jpg" srcset="../img/catalog/img-desc/image-x2(9).jpg 2x" alt="Diver  300M Co‑Axial Master Chronometer Chronograph" width="276" height="325">
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
            <h3 class="catalog-popup-title">DETAILS & FEATUREStion</h3>
            <p class="catalog-popup-text">Gender: man<br>
              Size: 46x54.5mm<br>
              Case Colour: Steel<br>
              Band Material: Metal<br>
              Case Material: Metal<br>
              Features: Multifunction<br>
              Water Resistant: 5 (ATM)<br>
              Band Colour: Steel</p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Diver  300M Co‑Axial Master Chronometer Chronograph</p>
          <span class="catalog-price">€400</span>
        </div>
      </li>
      <li class="catalog-item catalog-img-desc">
        <div class="catalog-wrap-img">
          <img src="../img/catalog/img-desc/image(10).jpg" srcset="../img/catalog/img-desc/image-x2(10).jpg 2x" alt="Citizen" width="276" height="325">
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
            <h3 class="catalog-popup-title">DETAILS & FEATUREStion</h3>
            <p class="catalog-popup-text">Gender: man<br>
              Size: 46x54.5mm<br>
              Case Colour: Steel<br>
              Band Material: Metal<br>
              Case Material: Metal<br>
              Features: Multifunction<br>
              Water Resistant: 5 (ATM)<br>
              Band Colour: Steel</p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Citizen</p>
          <span class="catalog-price">€519</span>
        </div>
      </li>
      <li class="catalog-item catalog-img-desc">
        <div class="catalog-wrap-img">
          <img src="../img/catalog/img-desc/image(11).jpg" srcset="../img/catalog/img-desc/image-x2(11).jpg 2x" alt="Armani Exchange" width="276" height="325">
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
            <h3 class="catalog-popup-title">DETAILS & FEATUREStion</h3>
            <p class="catalog-popup-text">Gender: man<br>
              Size: 46x54.5mm<br>
              Case Colour: Steel<br>
              Band Material: Metal<br>
              Case Material: Metal<br>
              Features: Multifunction<br>
              Water Resistant: 5 (ATM)<br>
              Band Colour: Steel</p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Armani Exchange</p>
          <span class="catalog-price">€400</span>
        </div>
      </li>
    </ul>
    <div class="catalog-btn-wrap">
      <button type="button" class="catalog-btn">Buy now</button>
    </div>
    
  </div>
  
</section>
