<section>
  <div class="catalog container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-wrap-img">
          <svg class="catalog-icon" width="24" height="24">
            <use href="./public/sprite.svg#heart"></use>
          </svg>
          <picture class="catalog-img">
            <source
              srcset="
                ./img/catalog/img-desc/image.jpg    1x,
                ./img/catalog/img-desc/image@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/img-tab/image.jpg    1x,
                ./img/catalog/img-tab/image@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/img-mob/image.jpg    1x,
                ./img/catalog/img-mob/image@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog/img-desc/image.jpg"
              alt="Tube Watch S42 Date Steel With Black Case"
              width="276"
              height="325"
            />
          </picture>
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>

            <p class="catalog-popup-text">
              Richly detailed with an understated design &#8211; the Police
              Men&#x2019;s Greenlane watch.
            </p>
            <h3 class="catalog-popup-title">DETAILS &amp; FEATUREStion</h3>
            <p class="catalog-popup-text">
              Gender&#x3A; man<br />
              Size&#x3A; 46&#120;54&#46;5mm<br />
              Case Colour&#x3A; Steel<br />
              Band Material&#x3A; Metal<br />
              Case Material&#x3A; Metal<br />
              Features&#x3A; Multifunction<br />
              Water Resistant&#x3A; 5 &#x28;ATM&#x29;<br />
              Band Colour&#x3A; Steel
            </p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Tube Watch S42 Date Steel With Black Case</p>
          <span class="catalog-price">&#8364;395</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-wrap-img">
          <svg class="catalog-icon" width="24" height="24">
            <use href="/public/sprite.svg#heart"></use>
          </svg>
          <picture class="catalog-img">
            <source
              srcset="
                ./img/catalog/img-desc/image1.jpg    1x,
                ./img/catalog/img-desc/image1@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/img-tab/image1.jpg    1x,
                ./img/catalog/img-tab/image1@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/img-mob/image1.jpg    1x,
                ./img/catalog/img-mob/image1@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog/img-desc/image1@2x.jpg"
              alt="Avondale Watch Police For Men"
              width="276"
              height="325"
            />
          </picture>
          <div class="catalog-popup">
            <div>
              <h3 class="catalog-popup-title">Description</h3>
              <p class="catalog-popup-text">
                Richly detailed with an understated design &#8211; the Police
                Men&#x2019;s Greenlane watch.
              </p>
            </div>
            <div>
              <h3 class="catalog-popup-title">DETAILS &amp; FEATUREStion</h3>
              <p class="catalog-popup-text">
                Gender&#x3A; man<br />
                Size&#x3A; 46&#120;54&#46;5mm<br />
                Case Colour&#x3A; Steel<br />
                Band Material&#x3A; Metal<br />
                Case Material&#x3A; Metal<br />
                Features&#x3A; Multifunction<br />
                Water Resistant&#x3A; 5 &#x28;ATM&#x29;<br />
                Band Colour&#x3A; Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Avondale Watch Police For Men</p>
          <span class="catalog-price">&#8364;800</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-wrap-img">
          <svg class="catalog-icon" width="24" height="24">
            <use href="./public/sprite.svg#heart"></use>
          </svg>
          <picture class="catalog-img">
            <source
              srcset="
                ./img/catalog/img-desc/image2.jpg    1x,
                ./img/catalog/img-desc/image2@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/img-tab/image2.jpg    1x,
                ./img/catalog/img-tab/image2@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <sourc
              srcset="

                ./img/catalog/img-mob/image2.jpg    1x,
                ./img/catalog/img-mob/image2@2x.jpg 2x

              "
              media="(min-width: 375px)"
            />
            <img
              src="./img/catalog/img-desc/image2.jpg"
              alt="Diver  300M Co&#8211;Axial Master Chronometer Chronograph"
              width="276"
              height="325"
            />
          </picture>
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">
              Richly detailed with an understated design &#8211; the Police
              Men&#x2019;s Greenlane watch.
            </p>
            <h3 class="catalog-popup-title">DETAILS &amp; FEATUREStion</h3>
            <p class="catalog-popup-text">
              Gender&#x3A; man<br />
              Size&#x3A; 46&#120;54&#46;5mm<br />
              Case Colour&#x3A; Steel<br />
              Band Material&#x3A; Metal<br />
              Case Material&#x3A; Metal<br />
              Features&#x3A; Multifunction<br />
              Water Resistant&#x3A; 5 &#x28;ATM&#x29;<br />
              Band Colour&#x3A; Steel
            </p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">
            Diver 300M Co&#8211;Axial Master Chronometer Chronograph
          </p>
          <span class="catalog-price">&#8364;600</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-wrap-img">
          <svg class="catalog-icon" width="24" height="24">
            <use href="../public/sprite.svg#heart"></use>
          </svg>
          <picture class="catalog-img">
            <source
              srcset="
                ./img/catalog/img-desc/image3.jpg    1x,
                ./img/catalog/img-desc/image3@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="

                ./img/catalog/img-tab/image3.jpg    1x,
                ./img/catalog/img-tab/image3@2x.jpg 2x

              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/img-mob/image3.jpg    1x,
                ./img/catalog/img-mob/image3@2x.jpg 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="./img/catalog/img-desc/image3.jpg"
              alt="Diver 300M Co&#8211;Axial Master Chronometer"
              width="276"
              height="325"
            />
          </picture>
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">
              Richly detailed with an understated design &#8211; the Police
              Men&#x2019;s Greenlane watch.
            </p>
            <h3 class="catalog-popup-title">DETAILS &amp; FEATUREStion</h3>
            <p class="catalog-popup-text">
              Gender&#x3A; man<br />
              Size&#x3A; 46&#120;54&#46;5mm<br />
              Case Colour&#x3A; Steel<br />
              Band Material&#x3A; Metal<br />
              Case Material&#x3A; Metal<br />
              Features&#x3A; Multifunction<br />
              Water Resistant&#x3A; 5 &#x28;ATM&#x29;<br />
              Band Colour&#x3A; Steel
            </p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">
            Diver 300M Co&#8211;Axial Master Chronometer
          </p>
          <span class="catalog-price">&#8364;1400</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-wrap-img">
          <svg class="catalog-icon" width="24" height="24">
            <use href="../public/sprite.svg#heart"></use>
          </svg>
          <picture class="catalog-img">
            <source
              srcset="
                ./img/catalog/img-desc/image4.jpg    1x,
                ./img/catalog/img-desc/image4@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/img-tab/image4.jpg    1x,
                ./img/catalog/img-tab/image4@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/img-mob/image4.jpg    1x,
                ./img/catalog/img-mob/image4@2x.jpg 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="./img/catalog/img-desc/image4.jpg"
              alt="Taman Watch By Police For Men"
              width="276"
              height="325"
            />
          </picture>
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">
              Richly detailed with an understated design &#8211; the Police
              Men&#x2019;s Greenlane watch.
            </p>
            <h3 class="catalog-popup-title">DETAILS &amp; FEATUREStion</h3>
            <p class="catalog-popup-text">
              Gender&#x3A; man<br />
              Size&#x3A; 46&#120;54&#46;5mm<br />
              Case Colour&#x3A; Steel<br />
              Band Material&#x3A; Metal<br />
              Case Material&#x3A; Metal<br />
              Features&#x3A; Multifunction<br />
              Water Resistant&#x3A; 5 &#x28;ATM&#x29;<br />
              Band Colour&#x3A; Steel
            </p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Taman Watch By Police For Men</p>
          <span class="catalog-price">&#8364;500</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-wrap-img">
          <svg class="catalog-icon" width="24" height="24">
            <use href="../public/sprite.svg#heart"></use>
          </svg>
          <picture class="catalog-img">
            <source
              srcset="
                ./img/catalog/img-desc/image5.jpg    1x,
                ./img/catalog/img-desc/image5@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/img-tab/image5.jpg    1x,
                ./img/catalog/img-tab/image5@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/img-mob/image5.jpg    1x,
                ./img/catalog/img-mob/image5@2x.jpg 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="./img/catalog/img-desc/image5.jpg"
              alt="Malawi Watch Police For Men"
              width="276"
              height="325"
            />
          </picture>
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">
              Richly detailed with an understated design &#8211; the Police
              Men&#x2019;s Greenlane watch.
            </p>
            <h3 class="catalog-popup-title">DETAILS &amp; FEATUREStion</h3>
            <p class="catalog-popup-text">
              Gender&#x3A; man<br />
              Size&#x3A; 46&#120;54&#46;5mm<br />
              Case Colour&#x3A; Steel<br />
              Band Material&#x3A; Metal<br />
              Case Material&#x3A; Metal<br />
              Features&#x3A; Multifunction<br />
              Water Resistant&#x3A; 5 &#x28;ATM&#x29;<br />
              Band Colour&#x3A; Steel
            </p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Malawi Watch Police For Men</p>
          <span class="catalog-price">&#8364;555</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-wrap-img">
          <svg class="catalog-icon" width="24" height="24">
            <use href="../public/sprite.svg#heart"></use>
          </svg>
          <picture class="catalog-img">
            <source
              srcset="
                ./img/catalog/img-desc/image6.jpg    1x,
                ./img/catalog/img-desc/image6@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/img-tab/image6.jpg    1x,
                ./img/catalog/img-tab/image6@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/img-mob/image6.jpg    1x,
                ./img/catalog/img-mob/image6@2x.jpg 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="./img/catalog/img-desc/image6.jpg"
              alt="Diver 300M Co-Axial Master Chronometer"
              width="276"
              height="325"
            />
          </picture>
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">
              Richly detailed with an understated design &#8211; the Police
              Men&#x2019;s Greenlane watch.
            </p>
            <h3 class="catalog-popup-title">DETAILS &amp; FEATUREStion</h3>
            <p class="catalog-popup-text">
              Gender&#x3A; man<br />
              Size&#x3A; 46&#120;54&#46;5mm<br />
              Case Colour&#x3A; Steel<br />
              Band Material&#x3A; Metal<br />
              Case Material&#x3A; Metal<br />
              Features&#x3A; Multifunction<br />
              Water Resistant&#x3A; 5 &#x28;ATM&#x29;<br />
              Band Colour&#x3A; Steel
            </p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">
            Diver 300M Co&#8211;Axial Master Chronometer
          </p>
          <span class="catalog-price">&#8364;1200</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-wrap-img">
          <svg class="catalog-icon" width="24" height="24">
            <use href="./public/sprite.svg#heart"></use>
          </svg>
          <picture class="catalog-img">
            <source
              srcset="
                ./img/catalog/img-desc/image7.jpg    1x,
                ./img/catalog/img-desc/image7@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/img-tab/image7.jpg    1x,
                ./img/catalog/img-tab/image7@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/img-mob/image7.jpg    1x,
                ./img/catalog/img-mob/image7@2x.jpg 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="./img/catalog/img-desc/image7.jpg"
              alt="Greenlane Watch By Police For Men"
              width="276"
              height="325"
            />
          </picture>
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">
              Richly detailed with an understated design &#8211; the Police
              Men&#x2019;s Greenlane watch.
            </p>
            <h3 class="catalog-popup-title">DETAILS &amp; FEATUREStion</h3>
            <p class="catalog-popup-text">
              Gender&#x3A; man<br />
              Size&#x3A; 46&#120;54&#46;5mm<br />
              Case Colour&#x3A; Steel<br />
              Band Material&#x3A; Metal<br />
              Case Material&#x3A; Metal<br />
              Features&#x3A; Multifunction<br />
              Water Resistant&#x3A; 5 &#x28;ATM&#x29;<br />
              Band Colour&#x3A; Steel
            </p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Greenlane Watch By Police For Men</p>
          <span class="catalog-price">&#8364;1000</span>
        </div>
      </li>
      <li class="catalog-item catalog-img-desc">
        <div class="catalog-wrap-img">
          <svg class="catalog-icon" width="24" height="24">
            <use href="./public/sprite.svg#heart"></use>
          </svg>
          <img
            src="./img/catalog/img-desc/image8.jpg"
            srcset="./img/catalog/img-desc/image8@2x.jpg 2x"
            alt="Squardrc 5402 Chrono"
            width="276"
            height="325"
          />
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">
              Richly detailed with an understated design &#8211; the Police
              Men&#x2019;s Greenlane watch.
            </p>
            <h3 class="catalog-popup-title">DETAILS &amp; FEATUREStion</h3>
            <p class="catalog-popup-text">
              Gender&#x3A; man<br />
              Size&#x3A; 46&#120;54&#46;5mm<br />
              Case Colour&#x3A; Steel<br />
              Band Material&#x3A; Metal<br />
              Case Material&#x3A; Metal<br />
              Features&#x3A; Multifunction<br />
              Water Resistant&#x3A; 5 &#x28;ATM&#x29;<br />
              Band Colour&#x3A; Steel
            </p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Squardrc 5402 Chrono</p>
          <span class="catalog-price">&#8364;359</span>
        </div>
      </li>
      <li class="catalog-item catalog-img-desc">
        <div class="catalog-wrap-img">
          <svg class="catalog-icon" width="24" height="24">
            <use href="./public/sprite.svg#heart"></use>
          </svg>
          <img
            src="./img/catalog/img-desc/image9.jpg"
            srcset="./img/catalog/img-desc/image9@2x.jpg 2x"
            alt="Diver  300M Co&#8211;Axial Master Chronometer Chronograph"
            width="276"
            height="325"
          />
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">
              Richly detailed with an understated design &#8211; the Police
              Men&#x2019;s Greenlane watch.
            </p>
            <h3 class="catalog-popup-title">DETAILS &amp; FEATUREStion</h3>
            <p class="catalog-popup-text">
              Gender&#x3A; man<br />
              Size&#x3A; 46&#120;54&#46;5mm<br />
              Case Colour&#x3A; Steel<br />
              Band Material&#x3A; Metal<br />
              Case Material&#x3A; Metal<br />
              Features&#x3A; Multifunction<br />
              Water Resistant&#x3A; 5 &#x28;ATM&#x29;<br />
              Band Colour&#x3A; Steel
            </p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">
            Diver 300M Co&#8211;Axial Master Chronometer Chronograph
          </p>
          <span class="catalog-price">&#8364;400</span>
        </div>
      </li>
      <li class="catalog-item catalog-img-desc">
        <div class="catalog-wrap-img">
          <svg class="catalog-icon" width="24" height="24">
            <use href="./public/sprite.svg#heart"></use>
          </svg>
          <img
            src="./img/catalog/img-desc/image10.jpg"
            srcset="./img/catalog/img-desc/image10@2x.jpg 2x"
            alt="Citizen"
            width="276"
            height="325"
          />
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">
              Richly detailed with an understated design &#8211; the Police
              Men&#x2019;s Greenlane watch.
            </p>
            <h3 class="catalog-popup-title">DETAILS &amp; FEATUREStion</h3>
            <p class="catalog-popup-text">
              Gender&#x3A; man<br />
              Size&#x3A; 46&#120;54&#46;5mm<br />
              Case Colour&#x3A; Steel<br />
              Band Material&#x3A; Metal<br />
              Case Material&#x3A; Metal<br />
              Features&#x3A; Multifunction<br />
              Water Resistant&#x3A; 5 &#x28;ATM&#x29;<br />
              Band Colour&#x3A; Steel
            </p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Citizen</p>
          <span class="catalog-price">&#8364;519</span>
        </div>
      </li>
      <li class="catalog-item catalog-img-desc">
        <div class="catalog-wrap-img">
          <svg class="catalog-icon" width="24" height="24">
            <use href="./public/sprite.svg#heart"></use>
          </svg>
          <img
            src="./img/catalog/img-desc/image11.jpg"
            srcset="./img/catalog/img-desc/image11@2x.jpg 2x"
            alt="Armani Exchange"
            width="276"
            height="325"
          />
          <div class="catalog-popup">
            <h3 class="catalog-popup-title">Description</h3>
            <p class="catalog-popup-text">
              Richly detailed with an understated design &#8211; the Police
              Men&#x2019;s Greenlane watch.
            </p>
            <h3 class="catalog-popup-title">DETAILS &amp; FEATUREStion</h3>
            <p class="catalog-popup-text">
              Gender&#x3A; man<br />
              Size&#x3A; 46&#120;54&#46;5mm<br />
              Case Colour&#x3A; Steel<br />
              Band Material&#x3A; Metal<br />
              Case Material&#x3A; Metal<br />
              Features&#x3A; Multifunction<br />
              Water Resistant&#x3A; 5 &#x28;ATM&#x29;<br />
              Band Colour&#x3A; Steel
            </p>
          </div>
        </div>
        <div class="catalog-wrap-text">
          <p class="catalog-text">Armani Exchange</p>
          <span class="catalog-price">&#8364;400</span>
        </div>
      </li>
    </ul>
    <div class="catalog-btn-wrap">
      <button type="button" class="catalog-btn" data-modal-open>Buy now</button>
    </div>
  </div>
</section>
