<footer class="footer">
  <div class="footer-container container">
      <div class="footer-wrapper">
          <ul class="footer-contact-list list" >
              <li class="footer-contact-logo">
                  <a href="">
                      <svg class="footer-contact-icon" width="40" height="40">
                          <use href=""></use>
                      </svg>
                  </a>
              </li>
              <li class="footer-contact-phone">
                  <a href="tel:380684439426">+380 (68) 443-94-26</a>
              </li>
              <li class="footer-contact-location">
                  <a href="https://goo.gl/maps/fM2mWBTEsyr5hvJP9">1678 S. Pioneer Road
                      Salt Lake City
                      UT 84104</a>
              </li>
          </ul>
          
          
          <ul class="footer-meny-list list">
              <li class="footer-meny-items">
                  <a href="#About">About Us</a>
              </li>
              <li class="footer-meny-items">
                  <a href="#Catalog">Catalog</a>
              </li>
              <li class="footer-meny-items">
                  <a href="#Sale">Sale</a>
              </li>
          </ul>
          
          
          <ul class="footer-media-list list">
              <li class="footer-media-item">
                  <a href="#">
                      <svg class="footer-media-icon" width="24" height="24">
                          <use href=""></use>
                      </svg>
                  </a>
              </li>
              <li class="footer-media-item">
                  <a href="#">
                      <svg class="footer-media-icon"  width="24" height="24">
                          <use href=""></use>
                      </svg>
                  </a>
              </li>
              <li class="footer-media-item">
                  <a href="#">
                      <svg class="footer-media-icon"  width="24" height="24">
                          <use href=""></use>
                      </svg>
                  </a>
              </li>
          </ul>
      </div>
     <div class="footer-bottom-wrapper">
       <div class="footer-rights">
           <p>&#169; 2022 The Watch Spot. All rights reserved.</p>
       </div>
       <div class="footer-terms">
           <ul class="footer-terms-list list">
               <li class="footer-terms-items">
                   <a href="">Privacy Policy</a>
               </li>
               <li class="footer-terms-items">
                   <a href="">Terms of Service</a>
               </li>
           </ul>
       </div>
     </div>
  </div>
</footer>