<footer class="foot-wr">
  <div class="footer-container container">
    <div class="footer-wrapper">
      <ul class="footer-contact-list list">
        <li class="footer-contact-logo">
          <a
            class="footer-link-logo"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="../index.html"
          >
            <picture>
              <source
                srcset="./public/logo-t-d-foot.png"
                media="(min-width:768px)"
              />
              <source
                srcset="./public/logo-mob-foot.png"
                media="(max-width:767px)"
              />

              <img
              class="img-logo-foot"
                srcset="
                  ./public/logo-mob.png      40w,
                  ./public/logo-t-d-foot.png 50w
                "
                sizes="(min-width:768px) 50px, (max-width:767px) 40px"
                alt="logo"
                src="./public/logo-mob-foot.png"
              />
            </picture>
          </a>
        </li>
        <li class="footer-contact-phone">
          <a href="tel:380684439426">+380 (68) 443-94-26</a>
        </li>
        <li class="footer-contact-location">
          <a href="https://goo.gl/maps/fM2mWBTEsyr5hvJP9"
            >1678 S. Pioneer Road Salt Lake City UT 84104</a
          >
        </li>
      </ul>

      <ul class="footer-meny-list list">
        <li class="footer-meny-items">
          <a href="#about">About Us</a>
        </li>
        <li class="footer-meny-items">
          <a href="#catalog">Catalog</a>
        </li>
        <li class="footer-meny-items">
          <a href="#sale">Sale</a>
        </li>
      </ul>

      <ul class="footer-media-list list">
        <li class="footer-media-item">
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.facebook.com/"
          >
            <svg class="footer-media-icon">
              <use
                class="footer-media-icon-item"
                href="./public/sprite.svg#facebook"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-media-item">
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.instagram.com/"
          >
            <svg class="footer-media-icon">
              <use href="./public/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-media-item">
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.youtube.com/"
          >
            <svg class="footer-media-icon">
              <use href="./public/sprite.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom-wrapper">
      <div class="footer-rights">
        <p>&#169;2022 The Watch Spot. All rights reserved.</p>
      </div>
      <div class="footer-terms">
        <ul class="footer-terms-list list">
          <li class="footer-terms-items">
            <a target="_blank" rel="noopener noreferrer nofollow" href="#"
              >Privacy Policy</a
            >
          </li>
          <li class="footer-terms-items">
            <a target="_blank" rel="noopener noreferrer nofollow" href="#"
              >Terms of Service</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
