<footer class="footer">
  <div class="footer-container container">
      <div class="footer-wrapper">
          <ul class="footer-contact-list list" >
              <li class="footer-contact-logo">
                  <a target="_blank" rel="noopener noreferrer nofollow" href="../index.html">
                      <svg class="footer-contact-icon">
                          <use href="../public/sprite.svg#logo-desc"></use>
                      </svg>
                  </a>
              </li>
              <li class="footer-contact-phone">
                  <a href="tel:380684439426">+380 (68) 443-94-26</a>
              </li>
              <li class="footer-contact-location">
                  <a href="https://goo.gl/maps/fM2mWBTEsyr5hvJP9">1678 S. Pioneer Road
                      Salt Lake City
                      UT 84104</a>
              </li>
          </ul>
          
          
          <ul class="footer-meny-list list">
              <li class="footer-meny-items">
                  <a href="#About">About Us</a>
              </li>
              <li class="footer-meny-items">
                  <a  href="#Catalog">Catalog</a>
              </li>
              <li class="footer-meny-items">
                  <a href="#Sale">Sale</a>
              </li>
          </ul>
          
          
          <ul class="footer-media-list list">
              <li class="footer-media-item">
                  <a target="_blank" rel="noopener noreferrer nofollow" href="https://www.facebook.com/">
                      <svg class="footer-media-icon">
                          <use class="footer-media-icon-item" href="../public/sprite.svg#facebook"></use>
                      </svg>
                  </a>
              </li>
              <li class="footer-media-item">
                  <a target="_blank" rel="noopener noreferrer nofollow" href="https://www.instagram.com/">
                      <svg class="footer-media-icon"  >
                          <use href="../public/sprite.svg#instagram"></use>
                      </svg>
                  </a>
              </li>
              <li class="footer-media-item">
                  <a target="_blank" rel="noopener noreferrer nofollow" href="https://www.youtube.com/">
                      <svg class="footer-media-icon" >
                          <use href="../public/sprite.svg#youtube"></use>
                      </svg>
                  </a>
              </li>
          </ul>
      </div>
     <div class="footer-bottom-wrapper">
       <div class="footer-rights">
           <p>&#169; 2022 The Watch Spot. All rights reserved.</p>
       </div>
       <div class="footer-terms">
           <ul class="footer-terms-list list">
               <li class="footer-terms-items">
                   <a target="_blank" rel="noopener noreferrer nofollow" href="#">Privacy Policy</a>
               </li>
               <li class="footer-terms-items">
                   <a target="_blank" rel="noopener noreferrer nofollow" href="#">Terms of Service</a>
               </li>
           </ul>
       </div>
     </div >
  </div>
</footer>

