<header>
  <div class="container header-container">
    <nav class="header-nav">
      <a href="../index.html" class="link header-logo-link">
        <img src="./public/logo-mob.png" class="header-img-logo" alt="logo of the firm">
        thewatchspot
      </a>

      <button class="header-burger js-open-menu" data-modal-open-mob>
        <svg class="header-burder-svg" height="24" width="24">
          <use href="./public/sprite.svg#burger"></use>
        </svg>
      </button>

      <ul class="header-link-site">
        <li><a href="#about-us" class="site-link">About us</a></li>
        <li><a href="#catalog" class="site-link">Catalog</a></li>
        <li><a href="#sale" class="site-link">Sale</a></li>
      </ul>
    </nav>

    <address>
      <a href="tel:+380684439426" class="header-address-num"
        >+380 (68) 443-94-26</a
      >
    </address>
  </div>
</header>
