<section>
  <div class="container">
    <div class="one-time">
      <div>
        <img src="" alt="" width="400" class="hero-slider" />
      </div>
      <div>
        <img src="" alt="" width="400" class="hero-slider" />
      </div>
      <div>
        <img src="" alt="" width="400" class="hero-slider" />
      </div>
      <div>
        <img src="" alt="" class="hero-slider" />
      </div>
      <div>
        <img src="" alt="" class="hero-slider" />
      </div>
    </div>
  </div>
</section>
