<section class="new-watches">
  <div class="container">
    <h2 class="new-watches-title">New watches</h2>
    <h3 class="new-watches-subtitle">
      Green And Bronze—The Match Made In Heaven
    </h3>
    <ul class="list new-watches-list">
      <li>
        <source
          media="(max-width: 767px)"
          srcset="./img/new-watches/img1-x3.jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/new-watches/img1-x2.jpg"
        />
        <source
          media="(min-width: 1280px)"
          srcset="./img/new-watches/img1-x1.jpg"
        />
        <img src="./img/new-watches/img1.jpg" alt="img1" />
      </li>
      <li>
        <source
          media="(max-width: 767px)"
          srcset="./img/new-watches/img2-x3.jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/new-watches/img2-x2.jpg"
        />
        <source
          media="(min-width: 1280px)"
          srcset="./img/new-watches/img2-x1.jpg"
        />
        <img src="./img/new-watches/img2.jpg" alt="img2" />
      </li>
    </ul>
  </div>
</section>
