
.container{
     
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px 0 10px;
}
.footer a{
  color: inherit;
}

.footer{
background:var(--bgc-pull);
padding: 40px 0 20px;
}

.footer-wrapper{
  display: flex;
  flex-wrap: wrap;
  
}
  .footer-contact-logo{
      margin-bottom: 40px;
  }

.footer-contact-icon{
  width: 40px;
  height: 40px;
  
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

/* .footer-contact-phone a{
  color: inherit;
} */


.footer-contact-phone{
  font-weight: var(--font-regular);
  font-size: var(--font-z-lead);
  line-height: 1.29;
  text-transform: uppercase;

  color: var(--bgc-main);

  margin-bottom: 20px;
}

/* .footer-contact-phone a{
  color: inherit;
} */


.footer-contact-location{
  
  width: 141px;

  font-weight: var(--font-regular);
  font-size: var(--font-z-lead);
  line-height: 1.29;
  /* or 129% */

  letter-spacing: -0.02em;

  color: var(--bgc-main);
}
/* .footer-contact-location a{
  color: inherit;
} */

.footer-meny-list{
  display: flex;
  flex-direction: column;
  
  gap: 18px;
  margin-left: auto;
}

.footer-meny-items{
  font-weight: var(--font-regular);
  font-size: var(--font-z-lead);
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--bgc-main);
}

.footer-media-list{
  display: flex;
  gap: 14px;
  margin: 40px 0 80px;
}

.footer-media-item{
  width: 40px;
  height: 40px;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;

}
.footer-media-icon-item{
  stroke: var(--bgc-main);
}


.footer-bottom-wrapper{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-rights{
  font-weight: var(--font-regular);
font-size: 12px;
line-height: 1.17;
letter-spacing: -0.02em;

color: var(--bgc-main);
}

.footer-terms-list{
  display: flex;
  gap: 14px;
}

.footer-terms-items{
  font-weight: var(--font-regular);
  font-size: 12px;
  line-height: 1.17;
  
  letter-spacing: -0.02em;
  
  color: #C6CDD1;
}

@media screen and (min-width:375px){
  /* .container{
      padding:0 10px;
      width: 355px;
      

  } */
}


@media screen and (min-width:768px){

  .container{
    width: 736px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
   
  }
  .footer-wrapper{
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 152px;
  }
  .footer-meny-list{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 18px;
  }
  .footer-media-list{
      margin: 0;
  }
  .footer-bottom-wrapper{
    flex-direction: row;
    justify-content: space-between;

  }
  .footer-terms-list{
    gap: 18px;
  }
  .footer-media-item{
    width: 44px;
    height: 44px;
  }  
}

@media screen and (min-width:1280px){
.container{
  width: 1199px;
  margin-left: 12px;
  margin-right: 12px;

}
}