@import url(../partials/hero.html);

@media screen and (max-width: 767px) {
  .container {
    max-width: 375px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
