


.sale-section {
  background-color: #fbfbfb;
}

/*------------ MOBILE ------------------*/

@media screen and (max-width: 767px) {
  .sale-section {
    padding-bottom: 80px;
  }

  .sale-section-title {
    margin-bottom: 40px;

    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }

  .watch-main-small {
  }

  .watch-sale-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
  }

  .watch-left_side-gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .sale-gallery-item {
  }

  .sale-watch-title {
    margin-bottom: 8px;

    font-weight: 400;
    font-size: 24px;
    line-height: 1;

    letter-spacing: -0.02em;
  }

  .sale-watch-subtitle {
    margin-bottom: 17px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;

    letter-spacing: -0.02em;
    text-transform: uppercase;
  }

  .sale-description {
    line-height: 1.29;
    letter-spacing: -0.01em;

    color: var(--font-clear);
  }

  .watch-sale-price {
    display: inline-block;

    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
  }

  .sale-watch-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .sale-old-price {
    margin-left: 8px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-decoration-line: line-through;
    color: var(--font-clear);
  }

  .sale-description.product-tag-desc {
    margin-bottom: 16px;

    letter-spacing: -0.02em;
  }

  .decoration-line {
    position: relative;
  }

  .sale-watch-subtitle.decoration-line::before {
    content: '';
    display: block;
    margin-bottom: 8px;

    width: 100%;
    border: 1px solid var(--bgc-hero);
  }

  .sale-watch-subtitle.decoration-line::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;

    display: inline-block;
    margin-left: auto;
    width: 16px;
    border: 1px solid var(--bgc-hero);
  }
}

@media screen and (max-width: 340px) {
  .watch-sale-gallery {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .watch-left_side-gallery {
    flex-direction: row;
  }

  .sale-gallery-item {
  }
}

/*------------ TABLET ------------------*/

@media screen and (min-width: 768px) {
  .sale-section-title {
    margin-bottom: 40px;

    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.02em;
  }

  .watch-sale-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
  }

  .watch-left_side-gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .sale-watch-title {
    margin-bottom: 8px;

    font-weight: 400;
    font-size: 38px;
    line-height: 1.05;

    letter-spacing: -0.02em;
  }

  .sale-description {
    line-height: 1.29;
    letter-spacing: -0.01em;

    color: var(--font-clear);
  }

  .sale-description.product-tag-desc {
    margin-bottom: 16px;

    letter-spacing: -0.02em;
  }

  .watch-sale-price {
    display: inline-block;

    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
  }

  /* OLD PRICE NEED ADJUSTEMENT  */

  .sale-old-price {
    margin-left: 8px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-decoration-line: line-through;
    color: var(--font-clear);
  }

  .sale-watch-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .sale-watch-subtitle {
    margin-bottom: 17px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;

    letter-spacing: -0.02em;
    text-transform: uppercase;
  }

  .decoration-line {
    position: relative;
  }

  .sale-watch-subtitle.decoration-line::before {
    content: '';
    display: block;
    margin-bottom: 8px;

    width: 100%;
    border: 1px solid var(--bgc-hero);
  }

  .sale-watch-subtitle.decoration-line::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;

    display: inline-block;
    margin-left: auto;
    width: 16px;
    border: 1px solid var(--bgc-hero);
  }

  .watch-item-description {
    max-width: 572px;

    margin-left: auto;
    margin-right: auto;
  }

  .sale-section {
    padding-bottom: 128px;
  }
}

/*------------ DESKTOP ------------------*/

@media screen and (min-width: 1280px) {
  .sale-desktop-container {
    display: flex;
    justify-content: center;
    gap: 40px;

    margin-left: auto;
    margin-right: auto;
  }

  .watch-item-description {
    max-width: 369px;
    margin-left: 0;
    margin-right: 0;
  }

  .watch-sale-gallery {
    margin: 0;
  }

  .sale-section {
    padding-top: 80px;
    padding-bottom: 160px;
  }

  .watch-item-description li:nth-child(2n) {
    margin-bottom: 20px;
  }
}

