@import url('reset.css');
@import url('new-watches.css');
@import url('footer.css');
@import url('sale.css');
@import url('header.css');
@import url('hero.css');
@import url('catalog.css');
@import url('about-us.css');
@import url('burger-menu.css');
@import url('buy-now.css');

@font-face {
  font-family: 'Epilogue';
  font-weight: 300;
  src: url('../fonts/epilogue-light-webfont.woff2') format('woff2'),
    url('../fonts/epilogue-light-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Epilogue';
  font-weight: 400;
  src: url('../fonts/epilogue-regular-webfont.woff2') format('woff2'),
    url('../fonts/epilogue-regular-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Epilogue';
  font-weight: 600;
  src: url('../fonts/epilogue-semibold-webfont.woff2') format('woff2'),
    url('../fonts/epilogue-semibold-webfont.woff') format('woff');
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 353px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: auto;
    margin-left: auto;
  }
}

:root {
  --bgc-hero: #141414;

  --bgc-main: #ffffff;

  --bgc-main-desc: #ffffff80;

  --bgc-pull: #1e2827;

  --font-clear: #14141480;

  --font-regular: 400;

  --font-light: 300;

  --font-semibold: 600;

  --font-z-lead: 14px;

  --font-z-h-main: 32px;
}

body {
  font-family: 'Epilogue', serif;
  font-weight: var(--font-regular);
  color: var(--bgc-hero);
  font-size: var(--font-z-lead);
}

@media screen and (max-width: 1280px) {
  section {
    background-color: #fbfbfb;
  }
}

@media screen and (min-width: 1280px) {
  .new-watches {
    background-color: #fff;
  }
}

.section-catalog {
  background-color: #fff;
}

.no-scroll {
  overflow: hidden;
}
